.s5optionContainer {
   min-height: 800px;
   width: 100%;
   margin: 32px 0;

   display: grid;
   gap: 10px;
   /* grid-template-rows: repeat(5, 1fr);
   grid-auto-columns: minmax(100px, auto); */
}

.s5option {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.s5option > div {
   min-height: 80px;
   min-width: 80px;
   max-width: 160px;
   max-height: 160px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.s5option:nth-child(2) > div,
.s5option:nth-child(3) > div,
.s5option:nth-child(6) > div,
.s5option:nth-child(7) > div,
.s5option:nth-child(10) > div {
   width: 110px;
   height: 110px;
}

.selected {
   width: 100%;
   height: 100%;
   border: 4px solid green;
   border-radius: 16px;
}

.unselected {
   width: 100%;
   height: 100%;
   border: 4px solid white;
   border-radius: 16px;
}
