.quesImageBefore {
   width: 100%;
   height: auto;
   margin-bottom: 40px;
}
.quesImageAfter {
   width: 80%;
   display: flex;
   justify-self: center;
   height: auto;
   border: 1px solid #cacaca;
   border-radius: 10px;
}

.quesOptionContainer {
   /* margin-bottom: 60px; */
   width: 80%;
   /* min-height: 360px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.rowContainer {
   display: flex;
   align-items: center;
   justify-content: center;
}

.optionContainer {
   position: relative;
   width: 200px;
   margin-top: 40px;
}
.optionContainer:not(:nth-child(odd)) {
   margin-left: 48px;
}

.option {
   font-size: 88px;
   border: 1px solid #d6d6d6;
   background-color: #fffcf1;
   border-radius: 16px;
   color: #6a4a35;
}

.chooseOption {
   position: absolute;
   top: 0;
   opacity: 0;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.optionActive {
   border-radius: 32px;
   border: 3px solid #c7c552 !important;
}

.audioContainer {
   display: flex;
   align-items: center;
}

.audioContainer > span {
   font-size: 28px;
   font-weight: 600;
}

.speaker {
   font-size: 64px;
   color: white;
   background-color: #6a4a35;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
}
